<template>
	<div class="popup">
		<div class="header">
			<div style="width: 90px; cursor: pointer">
				<img src="../assets/images/back.svg" width="25" id="back_btn" v-if="showBackBtn()" @click="goToMainPage()">
			</div>
			<img src="../assets/images/logo_full.png" width="190">
		</div>
		<div class="shop" v-if="shop() && !isAccountPage">
			<img v-bind:src="shop().logo">
		</div>
		<Loader v-if="isLoading()"></Loader>
		<div class="content">
			<router-view></router-view>
		</div>
		<div class="footer">
			<div class="menu-item" id="menuAll" v-on:click="changePage(0)" :class="{'selected': index() === 0}">
				<img src="../assets/images/coupon2.svg" width="25">
				Wszystko
			</div>
			<div class="menu-item" id="menuCoupons" v-on:click="changePage(1)" :class="{'selected': index() === 1}">
				<img src="../assets/images/coupon_icon.svg" width="25">
				Kody rabatowe
			</div>
			<div class="menu-item" id="menuPromotions" v-on:click="changePage(2)" :class="{'selected': index() === 2}">
				<img src="../assets/images/promo_icon.svg" width="25">
				Promocje
			</div>
			<div class="menu-item" id="account" @click="goToAccount()" :class="{'selected': index() === 4}">
				<img src="../assets/images/user.svg" width="25">
				Konto
			</div>
		</div>
	</div>
</template>

<script>

import Loader from "../components/Loader";
import axios from "axios"
export default {
  name: 'App',
  components: { Loader },
	data() {
		return {
			isAccountPage: false
		}
	},
	methods: {
		fetchShop(url) {
			return axios.get(
				`https://rabatly.pl/api/extension/shop/vouchers?url=${url}`
			);
		},
		isLoading() {
			return this.$store.state.isLoading;
		},
		shop() {
			return this.$store.state.shop
		},
		changePage(index) {
			this.$store.state.backRouterLink = null;
			this.$router.push('/');
			this.$store.state.menuIndex = index;
			this.$store.state.showBackBtn = false;
			this.isAccountPage = false;
		},
		index() {
			return this.$store.state.menuIndex;
		},
		showBackBtn() {
			return this.$store.state.showBackBtn;
		},
		goToAccount() {
			this.$store.state.menuIndex = 4;
			this.$router.push('account');
			this.isAccountPage = true;
		},
		goToMainPage() {
			if (this.$store.state.backRouterLink) {
				this.$router.replace(this.$store.state.backRouterLink);
			} else {
				this.changePage(0);
			}
		},
		sendInfoAboutOpen() {
			const rabatlyOpenedDay = localStorage.rabatlyOpenedDay;
			const actualDay = (new Date).getDate();
			if (!rabatlyOpenedDay || +rabatlyOpenedDay !== actualDay) {
				chrome.runtime.sendMessage({
					needed: 'log',
					data: {
						type: 'extension-opened',
						message: null,
						userAgent: navigator.userAgent,
						shop: this.shop()?.id,
						user: localStorage.user?.id
					}
				}, function () {});
				localStorage.rabatlyOpenedDay = actualDay;
			}
		}
	},
	mounted() {
		chrome.tabs.query({active: true, lastFocusedWindow: true}, tabs => {
			if (tabs && tabs.length) {
				const tab = tabs[0];
				this.$store.state.currentTab = tab;
				this.fetchShop(tab.url).then((response) => {
					this.$store.state.shop = response.data && response.data.id ? response.data : null;
					this.$store.state.isLoading = false;
				});
			}
		});

		axios.get(`https://rabatly.pl/api/user`).then((result) => {
			if (result.data && result.data.id) {
				localStorage.user = JSON.stringify(result.data);
			}
		});

		this.sendInfoAboutOpen();
	}
}
</script>

<style lang="scss">
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', serif !important;
	font-size: 12px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #fad207;
}
.popup {
	width: 400px;
	height: 590px;
	background: #0154c8;
	display: flex;
	flex-direction: column;
	#back_btn {
		padding-left: 20px;
	}
	.header {
		width: 100%;
		height: 70px;
		display: flex;
		align-items: center;
	}
	.footer-add-code {
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: white;
		border-top: 1px solid lightgray;
		font-size: 12px;
		.add_code {
			font-size: 11px;
			background-color: #0154c8;
			border: transparent;
			color: white;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 10px;
			border-radius: 5px;
		}
	}
	.shop {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		background: white;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		img {
			vertical-align: middle;
			border-style: none;
			max-width: 100%;
			height: 49px;
		}
	}
	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow: auto;
		font-size: 12px;
	}

	.footer {
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		background: white;
		border-top: 1px solid lightgray;
		font-size: 12px;
		.menu-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-direction: column;
			color: #0154c8;
			cursor: pointer;
			&.selected {
				font-weight: bold;
			}
		}
	}
}
</style>
