<template>
	<div class="account">
		<div class="tabs">
			<div class="tab" @click="tab = 0" :class="{'active': tab === 0}">
				<span>Ulubione oferty</span>
			</div>
			<div class="tab" @click="tab = 1" :class="{'active': tab === 1}">
				<span>Obserwowane sklepy</span>
			</div>
		</div>
		<div class="tab-content">
			<div class="offers" v-if="tab === 0">
				<div class="offer" v-for="offer in offers" :key="offer.id">
					<img :src="offer.shop.logo">
					<div class="between">
						<span>{{offer.name}}</span>
<!--						<button class="copy_code" @click="check(offer)">Sprawdź</button>-->
					</div>
				</div>
			</div>
			<div class="offers" v-if="tab === 1">
				<div class="offer" v-for="shop in shops" :key="shop.id">
					<img :src="shop.logo">
					<div class="between">
						<span>{{shop.name}}</span>
<!--						<button class="copy_code" @click="goToShop(shop)">Pokaż</button>-->
					</div>
				</div>
			</div>
		</div>
		<div class="logout">
			<button class="add_code" @click="$router.push('add_code')">Wyloguj się</button>
		</div>
	</div>
</template>

<script>
	import axios from "axios"
	export default {
		name: "Account",
		data() {
			return {
				user: null,
				token: null,
				shops: [],
				offers: [],
				tab: 0
			}
		},
		methods: {
			isLogged() {
				return !!JSON.parse(localStorage.user || null);
			},
			logout() {
				axios.post(`https://rabatly.pl/api/logout`).then(() => {
					localStorage.removeItem('token');
					localStorage.removeItem('user');
					this.$router.replace('/login');
				});
			},
			loadShops() {
				axios.get(`https://rabatly.pl/api/user/notifications`, {
					headers: this.token ? {'Authorization': 'Bearer ' + this.token} : {}
				}).then((result) => {
					this.shops = result.data;
				});
			},
			loadOffers() {
				axios.get(`https://rabatly.pl/api/user/liked`, {
					headers: this.token ? {'Authorization': 'Bearer ' + this.token} : {}
				}).then((result) => {
					this.offers = result.data.coupons.concat(result.data.offers);
				});
			},
			// check(offer) {
			//
			// },
			// goToShop(shop) {
			//
			// }
		},
		mounted() {
			if (this.isLogged()) {
				this.user = JSON.parse(localStorage.user);
				this.token = localStorage.token;
			} else {
				this.$router.replace('/login');
			}
			this.loadOffers();
			this.loadShops();
		}
	}
</script>

<style scoped lang="scss">
	.account {
		display: flex;
		height: 100%;
		background: aliceblue;
		flex-direction: column;
		padding: 15px;

		h2, h3 {
			text-align: center;
		}

		a {
			cursor: pointer;
		}

		.tabs {
			width: 100%;
			height: 30px;
			display: flex;
			border: 1px solid lightgray;
			border-radius: 5px;
			.tab {
				width: 50%;
				cursor: pointer;
				display: flex;
				padding-top: 5px;
				justify-content: center;
				align-content: center;
				&:first-child {
					border-right: 1px solid lightgray;
				}
				&.active {
					font-weight: bold;
				}
			}
		}

		.tab-content {
			height: 335px;
			padding-top: 10px;
			overflow-y: auto;
		}

		.logout {
			text-align: center;
			margin-top: 10px;

			button {
				font-size: 11px;
				background-color: #0154c8;
				border: transparent;
				color: white;
				font-weight: 600;
				box-shadow: #cccccc 0 2px 6px 0;
				outline: none !important;
				padding: 8px 10px;
				border-radius: 5px;
			}
		}

		.offers {
			overflow-y: auto;
			display: flex;
			flex-direction: column;

			.offer {
				height: 20px;
				display: flex;
				align-items: center;
				background: white;
				border-radius: 5px;
				margin-bottom: 5px;
				padding: 10px;
				cursor: pointer;
				img {
					width: 50px;
					max-height: 100%;
					padding-right: 10px;
				}

				.between {
					display: flex;
					flex: 1;
					justify-content: space-between;
				}

				button {
					background-color: #fad207;
					border: transparent;
					color: #000000;
					box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
					outline: none !important;
					padding: 2px 15px;
					border-radius: 5px;
				}
			}
		}
	}
</style>
