<template>
	<div class="login">
		<h2>Logowanie</h2>
		<input type="text" class="row" placeholder="Email" v-model="email" :class="{'error' : hasError}">
		<input type="password" class="row" placeholder="Hasło" v-model="password" :class="{'error' : hasError}">
		<a @click="$router.push('/password-reset')" class="row" style="text-align: right"><span>Zapomniałeś hasła?</span></a>
		<button class="btn" @click="login()">Zaloguj się</button>
		<a @click="$router.push('/register')" class="row"><p>Nie masz konta? Zarejestruj się</p></a>
		<p class="errorInfo">{{info}}</p>
	</div>
</template>

<script>
	import axios from "axios"
	export default {
		name: "Login",
		data() {
			return {
				email: null,
				password: null,
				info: null,
				hasError: false
			};
		},
		methods: {
			login() {
				this.info = null;
				axios.post(`https://rabatly.pl/api/login`, {
					email: this.email,
					password: this.password
				}).then((result) => {
					localStorage.token = result.data.token;
					localStorage.user = JSON.stringify(result.data.user);
					this.info = null;
					this.$router.replace('/account');
				}).catch(() => {
					this.info = 'Niepoprawne dane logowania';
				});
			}
		},
		mounted() {
			this.$store.state.showBackBtn = false;
		}
	}
</script>

<style scoped lang="scss">
	.login {
		display: flex;
		height: 100%;
		background: aliceblue;
		flex-direction: column;
		padding: 15px;
		.errorInfo {
			color: red;
			text-align: center;
			font-size: 15px;
		}
		h2 {
			text-align: center;
		}
		a {
			cursor: pointer;
		}
		.btn {
			font-size: 13px;
			background-color: #fad207;
			border: transparent;
			color: #000000;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 25px;
			border-radius: 5px;
			margin-top: 10px;
			width: 100%;
			cursor: pointer;
		}
		.row {
			margin-top: 10px;
		}
		input {
			height: 30px;
			width: 343px;
			border-radius: 5px;
			display: block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		input:focus {
			border-color: #fad207;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		}
	}
</style>
