<template>
	<div class="reset">
		<h2>Resetowanie hasła</h2>
		<input type="text" class="row" placeholder="Email" v-model="email" :class="{'error' : hasError}">
		<button class="btn row" @click="reset()">Zresetuj hasło</button>
		<p class="errorInfo">{{info}}</p>
		<div v-if="resetSuccess">
			<p style="color: greenyellow">{{positiveInfo}}</p>
			<button class="btn row" @click="$router.push('/login')">Zaloguj się</button>
		</div>
	</div>
</template>

<script>
	import axios from "axios"
	export default {
		name: "PasswordReset",
		data() {
			return {
				email: null,
				info: '',
				resetSuccess: false,
				hasError: false
			};
		},
		methods: {
			reset() {
				this.info = null;
				axios.post(`https://rabatly.pl/api/password/email/reset`, {
					email: this.email
				}, ).then(() => {
					this.info = null;
					this.resetSuccess = true;
				}).catch((errorResponse) => {
					this.info = errorResponse.response.data.errors[Object.keys(errorResponse.response.data.errors)[0]][0];
				});
			}
		},
		mounted() {
			this.$store.state.backRouterLink = '/login';
			this.$store.state.showBackBtn = true;
		}
	}
</script>

<style scoped lang="scss">
	.reset {
		display: flex;
		height: 100%;
		background: aliceblue;
		flex-direction: column;
		padding: 15px;
		.errorInfo {
			color: red;
			text-align: center;
			font-size: 15px;
		}
		h2 {
			text-align: center;
		}
		a {
			cursor: pointer;
		}
		.btn {
			font-size: 13px;
			background-color: #fad207;
			border: transparent;
			color: #000000;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 25px;
			border-radius: 5px;
			margin-top: 10px;
			width: 100%;
			cursor: pointer;
		}
		.row {
			margin-top: 10px;
		}
		input {
			height: 30px;
			width: 343px;
			border-radius: 5px;
			display: block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		input:focus {
			border-color: #fad207;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		}
	}
</style>
