<template>
	<div class="register">
		<h2>Rejestracja</h2>
		<input type="text" class="row" placeholder="Email" v-model="email" :class="{'error' : hasError}">
		<input type="password" class="row" placeholder="Hasło" v-model="password" :class="{'error' : hasError}">
		<input type="password" class="row" placeholder="Potwierdź hasło" v-model="password_confirmation" :class="{'error' : hasError}">
		<p>Rejestrując się akceptujesz nasz <a href="https://rabatly.pl/policy" target="_blank">regulamin</a></p>
		<button class="btn row" @click="register()">Zarejestruj się</button>
		<a @click="$router.push('/login')" class="row"><p>Masz już konto? Zaloguj się</p></a>
		<p class="errorInfo">{{info}}</p>
	</div>
</template>

<script>
	import axios from "axios"
	export default {
		name: "Register",
		data() {
			return {
				email: null,
				password: null,
				password_confirmation: null,
				info: '',
				hasError: false,
			};
		},
		methods: {
			register() {
				this.info = null;
				axios.post(`https://rabatly.pl/api/register`, {
					email: this.email,
					password: this.password,
					password_confirmation: this.password_confirmation
				}).then(() => {
					this.info = 'Konto założone poprawnie! Zaloguj się do swoje poczty i potwierdź adres email podany podczas rejestracji.';
				}).catch((errorResponse) => {
					this.info = errorResponse.response.data.errors[Object.keys(errorResponse.response.data.errors)[0]][0];
				});
			}
		},
		mounted() {
			this.$store.state.showBackBtn = false;
		}
	}
</script>

<style scoped lang="scss">
	.register {
		display: flex;
		height: 100%;
		background: aliceblue;
		flex-direction: column;
		padding: 15px;
		.errorInfo {
			color: red;
			text-align: center;
			font-size: 15px;
		}
		h2, h3 {
			text-align: center;
		}
		a {
			cursor: pointer;
		}
		.btn {
			font-size: 13px;
			background-color: #fad207;
			border: transparent;
			color: #000000;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 25px;
			border-radius: 5px;
			margin-top: 10px;
			width: 100%;
			cursor: pointer;
		}
		.row {
			margin-top: 10px;
		}
		input {
			height: 30px;
			width: 343px;
			border-radius: 5px;
			display: block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		input:focus {
			border-color: #fad207;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		}
	}
</style>
