<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<% if (process.env.NODE_ENV === 'development') { %>
	<script src="http://localhost:8098"></script>
	<% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
