<template>
	<div class="rabatly_check_codes_alert rabatly_container" v-if="isVisible">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<div class="rabatly_header">
			<img src="https://rabatly.pl/img/logo_no_bg.png" width="140">
			<div class="rabatly_close" @click="hideAlert()">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="dismiss-icon"><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z" fill="#ffffff"></path></svg>
			</div>
		</div>
		<div class="rabatly_content">
			<p>Kody dostępne dla tego sklepu:</p>
			<div class="rabatly_codes_amount" id="rabatly_codes_amount"> {{getShop().vouchers.codes.length}}</div>
			<div><button class="rabatly_code" id="rabatly_try_codes" @click="startChecking()">Przetestuj kody</button></div>
		</div>
	</div>

</template>

<script>
	import Vue from 'vue'
	import Vuex from 'vuex'
	import CheckCodesPopup from "./CheckCodesPopup";
	export default {
		name: "CheckCodesAlert",
		data() {
			return {
				isVisible: true
			}
		},
		methods: {
			getShop() {
				return this.$store.state.shop;
			},
			hideAlert() {
				this.isVisible = false;
			},
			pushInstantOpenCookie() {
				const date = new Date();
				date.setTime(date.getTime()+(60*1000));
				const expires = "; expires="+date.toGMTString();
				document.cookie = "rabatly_instant_open_code_check=1" + expires+"; path=/";
			},
			readInstantOpenCookie() {
				let nameEQ = "rabatly_instant_open_code_check=";
				let ca = document.cookie.split(';');
				for (let i=0;i < ca.length;i++) {
					let c = ca[i];
					while (c.charAt(0) === ' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			},
			isRefreshType() {
				return this.getShop().cart_action.submit_type === 'refresh';
			},
			startChecking() {
				this.hideAlert();
				if (this.isRefreshType()) {
					this.pushInstantOpenCookie();
				}
				Vue.use(Vuex);
				const stylesContainer = document.createElement('div');
				stylesContainer.innerHTML = '<link href="https://rabatly.pl/css/extension/codes-popup.css?v=2.1.0" rel="stylesheet">';
				const insertedBanner = document.createElement('div');
				insertedBanner.setAttribute("id", "rabatly_popup");
				const shadowRoot = insertedBanner.attachShadow({mode: 'open'});

				const vueContainer = document.createElement('div');
				vueContainer.setAttribute("id", "rabatly_popup_container");
				shadowRoot.appendChild(stylesContainer);
				shadowRoot.appendChild(vueContainer);
				document.body.appendChild( insertedBanner );
				let element = document.querySelector('#rabatly_popup').shadowRoot.querySelector('#rabatly_popup_container');

				const store = new Vuex.Store({
					state: {
						shop: this.getShop(),
					},
					mutations: {
						increment (state) {
							state.count++
						}
					}
				});
				/* eslint-disable no-new */
				new Vue({
					el: element,
					store,
					render: h => h(CheckCodesPopup)
				});
			}
		},
		mounted() {
			const instant = this.readInstantOpenCookie();
			if (instant && parseInt(instant) && this.isRefreshType()) {
				this.startChecking();
			}
		}
	}
</script>

<style scoped lang="scss">
</style>
