<template>
	<div v-if="isVisible">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<div class="rabatly_shadow" id="rabatly_shadow"></div>
		<div class="rabatly_check_codes_popup rabatly_container" id="rabatly_check_codes_popup">
			<div class="rabatly_header">
				<img src="https://rabatly.pl/img/logo_no_bg.png" width="140">
				<div class="rabatly_close" id="rabatly_popup_close" @click="close()">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="dismiss-icon"><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z" fill="#ffffff"></path></svg>
				</div>
			</div>
			<div class="rabatly_content" id="rabatly_content_checking" v-if="!showNoCodesView && !showCodeFoundView">
				<div class="popup_title">
					<img src="https://rabatly.pl/img/extension/checking.svg" width="200" >
					<span class="title">Momencik!</span>
					<span class="title_desc">Właśnie sprawdzamy i dobieramy najlepszy dla Ciebie kupon!</span>
					<div class="actualCheckingCode">
						<img src="https://rabatly.pl/img/extension/coupon2.svg" width="20">
						{{actualCheckingCode}}
					</div>
				</div>
				<div class="rabatly_progress_container">
					<div class="rabatly_progress" id="rabatly_progress" :style="{'width': actualProgressWidth()}"></div>
				</div>
				<div>Sprawdzone <span id="checked_count"> {{checked.length}}</span> z <span id="codes_count">{{codes().length}}</span> kodów</div>
			</div>
			<div class="rabatly_content" id="rabatly_content_finalization" v-if="showCodeFoundView">
				<div class="popup_title">
					<img src="https://rabatly.pl/img/extension/winners.svg" width="240">
					<span class="title">Hurrraaa!</span>
					<span class="title_desc">Znaleźliśmy kupon obniżający zakupy o:</span>
				</div>
				<div id="rabatly_saved_value" class="rabatly_codes_amount">{{getCurrency()}} {{parseFloat(max.toString()).toFixed(2)}}</div>
				<div class="rabatly_footer">
					<div class="best-code">
						<span>Najlepszy kod:</span>
						<div class="actualCheckingCode">
							<img src="https://rabatly.pl/img/extension/coupon2.svg" width="20">
							{{maxCodeData.code}}
						</div>
					</div>
					<div id="rabatly_finalize" @click="close()">Finalizuj zamówienie</div>
				</div>
			</div>
			<div class="rabatly_content" id="rabatly_content_finalization_no_codes" v-if="showNoCodesView">
				<div class="popup_title">
					<img src="https://rabatly.pl/img/extension/money_pig.svg" width="200" >
					<span class="title">Masz najniższą cene!</span>
					<span class="title_desc">Sprawdziliśmy wszystkie dostępne kody rabatowe. Żaden z nich nie pasował do produktów, które kupujesz a to oznacza, że kupujesz po najniższej cenie!</span>
					<div><button class="rabatly_code" id="rabatly_close" @click="close()">Finalizuj zamówienie</button></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CheckCodesPopup",
		data() {
			return {
				isVisible: true,
				checkingInterval: null,
				checked: [],
				codesCorrect: [],
				isDollar: false,
				isEuro: false,
				isPLN: false,
				showNoCodesView: false,
				showCodeFoundView: false,
				max: 0,
				maxCodeData: null,
				actualCheckingCode: null,
				originalCartValue: -1,
				checkPriceAfterRefresh: false,
				checkingFinalized: false,
			}
		},
		methods: {
			getData() {
				return {
					isVisible: this.isVisible,
					checkingInterval: this.checkingInterval,
					checked: this.checked,
					codesCorrect: this.codesCorrect,
					isDollar: this.isDollar,
					isEuro: this.isEuro,
					isPLN: this.isPLN,
					showNoCodesView: this.showNoCodesView,
					showCodeFoundView: this.showCodeFoundView,
					max: this.max,
					maxCodeData: this.maxCodeData,
					actualCheckingCode: this.actualCheckingCode,
					originalCartValue: this.originalCartValue,
					checkPriceAfterRefresh: this.checkPriceAfterRefresh,
					checkingFinalized: this.checkingFinalized,
				}
			},
			setDataFromLS() {
				let data = this.readDataCookie();

				if (data) {
					data = JSON.parse(data);
					this.isVisible = data.isVisible;
					this.checkingInterval = data.checkingInterval;
					this.checked = data.checked;
					this.codesCorrect = data.codesCorrect;
					this.isDollar = data.isDollar;
					this.isEuro = data.isEuro;
					this.isPLN = data.isPLN;
					this.showNoCodesView = data.showNoCodesView;
					this.showCodeFoundView = data.showCodeFoundView;
					this.max = data.max;
					this.maxCodeData = data.maxCodeData;
					this.actualCheckingCode = data.actualCheckingCode;
					this.originalCartValue = data.originalCartValue;
					this.checkPriceAfterRefresh = data.checkPriceAfterRefresh;
					this.checkingFinalized = data.checkingFinalized;
				}
			},
			close() {
				this.isVisible = false;
				clearInterval(this.checkingInterval);
			},
			shop() {
				return this.$store.state.shop;
			},
			codes() {
				return this.shop().vouchers.codes;
			},
			getCurrency() {
				if (this.isEuro) {
					return '€ ';
				}

				if (this.isDollar) {
					return '$ ';
				}

				return 'PLN ';
			},
			setCurrency() {
				let text = '';
				if (this.shop().cart_action.cart_total_action) {
					const action = new Function(this.shop().cart_action.cart_total_action);
					text = action();
				} else {
					const selector = this.shop().cart_action.cart_total_selector;
					const element = this.findElement(selector);
					text = element.innerText.toLowerCase();
				}

				text = text.toLowerCase();
				if (text.includes('$')) {
					this.isDollar = true;
				} else if (text.includes('€')) {
					this.isEuro = true;
				} else {
					this.isPLN = true;
				}
			},
			isFinished() {
				return this.checked.length >= this.codes().length;
			},
			finishChecking() {
				clearInterval(this.checkingInterval);
				this.showFinalizationView();
			},
			checkCode(code, codeId) {
				if (this.shop().cart_action.before_check_code_action) {
					const action = new Function(this.shop().cart_action.before_check_code_action);
					action();
				}
				setTimeout(() => {
					this.actualCheckingCode = code;
					this.insertCode(code);
					this.submitCode();
					setTimeout(() => {
						this.checkAmountAfterSubmit(code, codeId);
					}, 2000);
				}, 1000);
			},
			checkAmountAfterSubmit(code, codeId) {
				const sub = this.originalCartValue - this.checkCartTotal();
				if (sub > 0) {
					this.codesCorrect.push({
						code: code,
						amount: sub
					})
				}

				chrome.runtime.sendMessage({
					needed: 'log',
					data: {
						type: 'code-check',
						message: sub > 0,
						userAgent: navigator.userAgent,
						codeId: codeId,
					}
				}, function () {});

				this.checked.push(code);
			},
			setCartTotal() {
				this.originalCartValue = this.originalCartValue >=0 ? this.originalCartValue : this.checkCartTotal();
			},
			checkCartTotal() {
				let value = 0;
				if (this.shop().cart_action.cart_total_action) {
					const action = new Function(this.shop().cart_action.cart_total_action);
					value = action();
				} else {
					const selector = this.shop().cart_action.cart_total_selector;
					const element = this.findElement(selector);
					value = element.innerText;
				}

				if (!value.includes('.')) {
					value = value.replace(',', '.')
				}
				// eslint-disable-next-line
				return parseFloat(value.replace( /[^\d\.]*/g, ''));
			},
			findElement(selector) {
				const element = document.querySelector(selector);

				if (!element) {
					throw SyntaxError('element does not exist ' + selector);
				}

				return element;
			},
			insertCode(code) {
				const selector = this.shop().cart_action.code_input_selector;
				const element = this.findElement(selector);
				element.value = code;
			},
			submitCode() {
				this.removePreviousCode();
				setTimeout(() => {
					const action = new Function(this.shop().cart_action.code_submit_action);
					this.checkPriceAfterRefresh = true;
					if (this.isRefreshMode()) {
						this.pushToCookie();
					}
					setTimeout(() => {
						action();
					}, this.isRefreshMode() ? 500 : 1);
				}, 500);
			},
			removePreviousCode() {
				if (this.shop().cart_action.code_remove_action) {
					const action = new Function(this.shop().cart_action.code_remove_action);
					action();
				}
			},
			startChecking() {
				this.checkingInterval = setInterval(() => {
					if (!this.isFinished()) {
						const code = this.codes()[this.iter()];
						if (code) {
							this.checkCode(code.code, code.id);
						}
					} else {
						this.finishChecking();
					}
				}, Math.max(1000, this.shop().cart_action.delay_between_coupons))
			},
			iter() {
				return this.checked.length;
			},
			pushToCookie() {
				const date = new Date();
				date.setTime(date.getTime()+(60*1000));
				const expires = "; expires="+date.toGMTString();
				document.cookie = "rabatly_checking_codes_data=" + JSON.stringify(this.getData()) + expires+"; path=/";
			},
			clearCookieData() {
				const date = new Date();
				date.setTime(date.getTime()+(60*1000));
				const expires = "; expires="+date.toGMTString();
				document.cookie = "rabatly_instant_open_code_check=0" + expires+"; path=/";
				document.cookie = "rabatly_checking_codes_data=0" + expires+"; path=/";
			},
			readDataCookie() {
				let nameEQ = "rabatly_checking_codes_data=";
				let ca = document.cookie.split(';');
				for (let i=0;i < ca.length;i++) {
					let c = ca[i];
					while (c.charAt(0) === ' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			},
			isRefreshMode() {
				return this.shop().cart_action.submit_type === 'refresh'
			},
			showFinalizationView() {
				if (this.codesCorrect.length === 0) {
					this.showNoCodesView = true;
					this.clearCookieData();
					return;
				}

				for (let codeData of this.codesCorrect) {
					if (codeData.amount > this.max) {
						this.maxCodeData = codeData;
						this.max = codeData.amount;
					}
				}
				this.insertCode(this.maxCodeData.code);
				this.showCodeFoundView = true;
				this.checkingFinalized = true;
				this.submitCode();
			},
			actualProgressWidth() {
				return (this.checked.length / this.codes().length) * 100 + '%';
			},
			openRefTab() {
				chrome.runtime.sendMessage({
					needed: 'openRefTab',
					data: {
						url: this.shop().common_ref_url,
						index: 0,
						active: false
					}
				}, function () {});
			}
		},
		mounted() {
			this.openRefTab();
			window.addEventListener('error', (e) => {
				chrome.runtime.sendMessage({
					needed: 'log',
					data: {
						type: 'error',
						message: e.message || e,
						userAgent: navigator.userAgent,
						shop: this.shop()?.id
					}
				}, function () {});
				window.removeEventListener('error',
					() => {},
					true
				);
				this.close();
				e.preventDefault();
			});

			if (this.shop() && this.codes() && this.codes().length) {
				this.setCartTotal();
				this.setCurrency();

				if (this.isRefreshMode()) {
					this.setDataFromLS();
				}

				if (this.checkingFinalized) {
					this.clearCookieData();
					return;
				}

				if (this.checkPriceAfterRefresh) {
					this.checkPriceAfterRefresh = false;
					const code = this.codes()[this.iter()];
					if (code) {
						this.checkAmountAfterSubmit(code.code, code.id);
					}
					this.startChecking();
				} else {
					this.startChecking();
				}
			} else {
				this.close();
			}
		}
	}
</script>

<style scoped>
</style>
