<template>
	<div id="add-code-form">
		<input type="text" id="i_code" class="row" placeholder="Kod" v-model="code" :class="{'error' : hasError}">
		<textarea rows="3" id="i_description" class="row" placeholder="Opis" v-model="description"></textarea>
		<button class="copy_code row" id="btn_add_code" @click="saveCode()">Dodaj</button>
		<p id="message">{{info}}</p>
	</div>
</template>

<script>
	import axios from "axios"
	export default {
		name: "VoucherAdd",
		data() {
			return {
				code: null,
				description:  null,
				info: '',
				currentTab: null,
				hasError: false
			};
		},
		methods: {
			shop() {
				return this.$store.state.shop;
			},
			getCurrentTab() {
				return this.$store.state.currentTab;
			},
			saveCode() {
				if (!this.code) {
					this.hasError = true;
					return;
				}
				this.hasError = false;
				axios.post(`https://rabatly.pl/api/extension/code-add`, {
					url: this.getCurrentTab() ? this.getCurrentTab().url : null,
					shopId: this.shop() ? this.shop().id : null,
					code: this.code,
					description: this.description
				}).then(() => {
					this.info = 'Kod dodany poprawnie. Dziękujemy!';
					this.code = null;
					this.description = null;
				}).catch(
					function () {
						this.info = 'Coś poszło nie tak, spróbuj dodać kod później';
					}
				);
			}
		},
		mounted() {
			this.$store.state.showBackBtn = true;
			this.$store.state.menuIndex = 3;
		}
	}
</script>

<style scoped lang="scss">
	#add-code-form {
		flex-direction: column;
		padding: 15px;
		p {
			color: white;
			margin-top: 20px;
		}
		.row {
			margin-top: 10px;
		}
		.copy_code {
			font-size: 13px;
			background-color: #fad207;
			border: transparent;
			color: #000000;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 25px;
			border-radius: 5px;
			margin-top: 10px;
			width: 100%;
		}
		input, textarea {
			height: 30px;
			width: 343px;
			border-radius: 5px;
			display: block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		input:focus, textarea:focus {
			border-color: #fad207;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		}
		textarea {
			height: 70px;
		}
		input.error {
			border: 1px solid red;
		}
	}
</style>
