<template>
	<div class="list-container">
		<div class="content">
			<div class="list" v-if="!showDetailsView">
				<template v-if="index() === 0 || index() === 1">
					<VoucherItem v-for="code in codes()" :key="code.id" :is-code="true" :voucher="code" @showDetailsCode="showDetails"></VoucherItem>
				</template>
				<template v-if="index() === 0 || index() === 2">
					<VoucherItem v-for="voucher in promotions()" :key="voucher.id" :is-code="false" :voucher="voucher" @showDetailsVoucher="showDetailsVoucher"></VoucherItem>
				</template>
				<div id="noVouchers" v-if="noVouchers().length > 0 && !isLoading()">
					<img src="../assets/images/empty.svg" width="80%">
					{{noVouchers()}}
				</div>
			</div>
			<VoucherDetails v-if="showDetailsView" :voucher="selectedVoucher"></VoucherDetails>
		</div>
		<div class="footer-add-code">
			<div>Masz kupon, którego tu nie ma?</div>
			<button class="add_code" id="btn_add_code_section" @click="$router.push('add_code')">+ dodaj kod</button>
		</div>
	</div>
</template>

<script>
	import VoucherItem from "../components/Voucher-item";
	import VoucherDetails from "../components/Voucher-details";
	import axios from "axios"
	export default {
		name: "Voucher-list",
		props: [],
		components: {VoucherDetails, VoucherItem},
		data() {
			return {
				showDetailsView: false,
				selectedVoucher: null
			};
		},
		watch: {
			showGoBack(newValue) {
				if (!newValue) {
					this.selectedVoucher = null;
					this.showDetailsView = false;
				}
			}
		},
		computed: {
			showGoBack () {
				return this.$store.state.showBackBtn;
			},
		},
		methods: {
			shop() {
				return this.$store.state.shop
			},
			promotions() {
				return this.shop() ? this.shop().vouchers.promotions : [];
			},
			codes() {
				return this.shop() ? this.shop().vouchers.codes : [];
			},
			index() {
				return this.$store.state.menuIndex;
			},
			isLoading() {
				return this.$store.state.isLoading;
			},
			noVouchers() {
				if (!this.shop()) {
					return 'Przykro nam ale nie mamy żadnych kodów rabatowych lub promocji dla tej strony...';
				}
				if (this.index() === 1 && !this.codes().length) {
					return 'Przykro nam ale nie mamy żadnych kodów rabatowych dla tej strony...';
				}
				if (this.index() === 2 && !this.promotions().length) {
					return 'Przykro nam ale nie mamy żadnych promocji dla tej strony...';
				}
				return '';
			},
			showDetails(voucher) {
				this.used(voucher);
				this.selectedVoucher = voucher;
				this.showDetailsView = true;
				this.$store.state.showBackBtn = true;
				this.copyCodeToClipboard(voucher.code);
				chrome.runtime.sendMessage({
					needed: 'openRefTab',
					data: {
						url: voucher.ref_url ? voucher.ref_url :  this.shop().common_ref_url,
						index: 0,
						active: false
					}
				}, function () {});
			},
			showDetailsVoucher(voucher) {
				this.used(voucher);
				chrome.runtime.sendMessage({
					needed: 'openRefTab',
					data: {
						url: voucher.ref_url ? voucher.ref_url :  this.shop().common_ref_url,
						index: null,
						active: true
					}
				}, function () {});
			},
			copyCodeToClipboard(code) {
				const el = document.createElement('input');
				el.value = code;
				document.body.appendChild(el);
				el.select();
				document.execCommand('copy');
				document.body.removeChild(el);
			},
			used(voucher) {
				axios.post(`https://rabatly.pl/api/extension/shop/vouchers/hits/${voucher.id}`, {}).then(function () {});
			},
		},
		mounted() {
			this.$store.state.showBackBtn = false;
			this.$store.state.menuIndex = 0;
		}
	}
</script>

<style scoped lang="scss">
	.list-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow: auto;
		font-size: 12px;
	}
	.list {
		flex-direction: column;
		padding: 15px;

	}
	#noVouchers {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		height: 100%;
		font-size: 20px;
		text-align: center;
		flex-direction: column;
		img {
			margin-bottom: 30px;
		}
	}

</style>
