<template>
	<div class="loading" id="loader"><div class="loader"></div></div>
</template>

<script>
	export default {
		name: "Loader",
	}
</script>

<style scoped>
	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.loader {
		border: 10px solid #f3f3f3;
		border-radius: 50%;
		border-top: 10px solid #fad207;
		width: 60px;
		height: 60px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>
