<template>
	<div class="discount" >
		<div class="discount_title"><span>{{voucher.name}}</span></div>
		<button class="copy_code" v-if="isCode" @click="showDetails()">Pokaż kod rabatowy</button>
		<button class="copy_code" v-if="!isCode" @click="showDetails()">Skorzystaj z oferty</button>
	</div>
</template>

<script>
	export default {
		name: "Voucher-item",
		props: ['isCode', 'voucher'],
		methods: {
			showDetails() {
				if (this.isCode) {
					this.$emit('showDetailsCode', this.voucher);
				} else {
					this.$emit('showDetailsVoucher', this.voucher);
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	.discount {
		max-height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background: white;
		border-radius: 5px;
		margin-bottom: 10px;
		padding: 10px;
		overflow-y: auto;
		min-height: 70px;
		cursor: pointer;
		.discount_title {
			font-weight: bold;
			max-height: 65px;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.copy_code {
			font-size: 13px;
			background-color: #fad207;
			border: transparent;
			color: #000000;
			font-weight: 600;
			box-shadow: rgba(204, 204, 204) 0 2px 6px 0;
			outline: none !important;
			padding: 8px 25px;
			border-radius: 5px;
			margin-top: 10px;
			width: 100%;
		}
	}
</style>
