<template>
	<div id="code-details">
		<div class="title">{{voucher.name}}</div>
		<div class="description" v-html="voucher.text"></div>
		<div class="code-section">
			<div class="code">{{voucher.code}}</div>
			<span class="code-copied"><strong>Kod został skopiowany</strong><br> wklej go w koszyku zamówienia</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Voucher-details",
		props: ['voucher']
	}
</script>

<style scoped lang="scss">
	#code-details {
		background: aliceblue;
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow: auto;
		padding: 15px;
		.title{
			font-weight: bold;
			font-size: 13px;
			overflow-y: auto;
			height: 35px;
		}
		.description{
			height: 138px;
			overflow-y: auto;
		}
		.code {
			padding: 10px;
			color:#0154c8;
			border: 1px solid #013f95;
			font-size: 20px;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
			background: white;
			width: 100%;
		}
		.code-section {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			align-items: center;
			background: #fad207;
			padding: 20px;
			border-radius: 5px;
		}
		.code-copied {
			margin-top: 10px;
			width: 100%;
			text-align: center;
		}
	}
</style>
